<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sunday</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>SUNDAY</h1>
<br>
	<img src="/sunday.PNG" width="50%" alt="">
</body>
</html>