<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tuesday</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>TUESDAY</h1>
<br>
	<img src="/tuesday.jpg" width="50%" alt="">
</body>
</html>