<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wednesday</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>WEDNESDAY</h1>
<br>
	<img src="/wednesday.png" width="50%" alt="">
</body>
</html>