<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TWO</title>
</head>
<body>
	<img src="2.PNG" alt="">
<br>
	<a href="/one">ONE</a>
	<a href="/two">TWO</a>
	<a href="/three">THREE</a>
	<a href="/four">FOUR</a>
	<a href="five">FIVE</a>
</body>
</html>