<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thursday</title>
	<link rel="stylesheet" href="/main.css">
</head>
<body>
<h1>THURSDAY</h1>
<br>
	<img src="/thursday.PNG" alt="">
</body>
</html>