<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Friday</title>
	<link rel="stylesheet" href="main.css">
</head>
<body>
<h1>FRIDAY</h1>
<br>
	<img src="friday.PNG" alt="">
</body>
</html>