<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drive Line Service of Fresno, CA</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Roboto:bold" rel="stylesheet">

</head>
<body>
    <header id="top">
        <h1>Drive Line Service of Fresno, CA</h1>
        <nav>
            <a href=""><i class="fa fa-map-marker"></i> map</a>
            <a href=""><i class="fa fa-envelope"></i> email!</a> 
            <a href=""><i class="fa fa-phone"></i> 800-824-0706</a>
            <a href=""><i class="fa fa-phone"></i> 559-266-1673</a>

        </nav>
    </header>
    <main>

    <nav id="short">
        <a href="#ag">Ag PTOs</a>
        <a href="#auto">Auto</a> <br>
        <a href="#indust">Industrial</a>
        <a href="#truck">Truck</a>
        <a href="">Login:</a>
    </nav>
<br>
    <section id="ag">
        <header class="sectitle"><h3>Agricultural PTOs</h3></header>
        <article class="list">
        <h4>for clutches, see individual vendors below</h4>
            <ul>
                <li>Bondioli and Pavesi Ag PTO</li>
                <li>How to ID and Order a PTO</li>
                <li>Weasler Ag PTO</li>
                <li>Metric Conversion</li>
                <li>Walterscheid Ag PTO</li>
                <li>World Shielding</li>
                <li>Agricultural Constant Velocity Shafts</li>
            </ul>
                <h2>Weasler</h2>
            <ul>
                <li>L6, 0600</li>
                <li>L12, 1200</li>
                <li>L14, 2000</li>
                <li>L16, 35N, 2200</li>
                <li>44R</li>
                <li>55N</li>
            </ul>
                <h2>Bondi</h2>
            <ul>
                <li>BYP 2</li>
                <li>BYP 4, S4</li>
                <li>BYP 5, S6</li>
                <li>BYP 6, S7</li>
                <li>BYP 7, S8, H8</li>
                <li>BYP 8, S9</li>
                <li>BYP 10</li>
                 <li>BYP SH</li>
                 <li>BYP SO</li>
            </ul>
                <h2>Walter</h2>
            <ul>
                <li>2100</li>
                <li>2200</li>
                <li>2300</li>
                <li>2400</li>
                <li>2500</li>
                <li>2600</li>
                <li>2700</li>
                <li>2800</li>
            </ul>

        </article>
    </section>
    
    <section id="auto">
        <header class="sectitle"><h3>Auto + 4x4</h3></header>
        <article class="list">
            <ul>
                <li><a href="">1100</a></li>
                <li>1210</li>
                <li>1310</li>
                <li>7260</li>
                <li>3R</li>
                <li>1330</li>
                <li>1350</li>
                <li>1410</li>
                <li>Pinion Yokes</li>
                <li>Alumninum Drivelines</li>
                <li>Tcase Yokes</li>
                <li>CV Flanges</li>
                <li>Transmission Yokes</li>
                <li>4x4 Extended Travel</li>
                <li>BAMF 42 Degree CV</li>
            </ul>
        </article>
    </section>

    <section id="indust">
        <header class="sectitle"><h3>Industrial</h3></header>
        <article class="list">
            <ul>
                <li>Industrial Drivelines</li>
                <li>Vibra-Damp Drivelines</li>
                <li>Close-Coupled Drivelines</li>
                <li>Elbe Drivelines</li>
                <li>DIN Flanges</li>
                <li>SAE Flanges</li>
                <li>SA Flywheels</li>
                <li>Torque Equivalents</li>
                <li>Industrial Shear-Pin</li>
                <li>Industrial B-stubs</li>
                <li>Sonnax Powertrain Savers</li>
            </ul>
        </article>
    </section>

    <section id="truck">
        <header class="sectitle"><h3>Truck</h3></header>
        <article class="list">
            <ul>
                <li>1410</li>
                <li>1480</li>
                <li>1550</li>
                <li>1610</li>
                <li>1710</li>
                <li>1760</li>
                <li>1810</li>
                <li>1880</li>
                <li>SPL90, 100</li>
                <li>SPL140</li>
                <li>SPL170</li>
                <li>SPL250</li>
                <li>SPL350</li>
                <li>SPL20</li>
                <li>RPL25</li>
            </ul>
        </article>
    </section>
</main>

<aside>
    <section>
        <header class="sectitle"><h3>Technical Pages</h3></header>
        <article class="list">
            <ul>
                <li>Driveline RPMs</li>
                <li>Center Bearings</li>
                <li>Assemblies</li>
                <li>Truck PTOs 1000s Series</li>
            </ul>

            <h4>Measuring</h4>
            <ul>
                <li>Measuring Drivelines</li>
                <li>Metric Conversion</li>
                <li>Angle Trigonometry</li>
                <li>Yokeshaft Calculations</li>
                <li>Slip Stub Calcs</li>
            </ul>
            
            <h4>U-Joints</h4>
            <ul>
                <li>Youtube: Identify a U-Joint</li>
                <li>UJ Table</li>
                <li>UJ Seals</li>
                <li>UJ Snap Rings</li>
            </ul>

            <h4>Kits</h4>
            <ul>
                <li>Boot Kits</li>
                <li>Midshift Kits</li>
            </ul>

            <h4>Catalogs</h4>
            <ul>
                <li>Parts Database</li>
                <li>Master Catalog</li>
            </ul>
        </article>
    </section>
</aside>
<footer>
    <a href="">About Us</a>
    <div>Counter</div>
</footer>
</body>
</html>